
.logo{
    height: 100px;

    width: 105px;
    padding-top: 30px;
}

.logo img{
    height: 100%;
    width: 100%;
    
}
.menu ul{
    margin-top: 50px;
}
.menu ul li{
    
    display: inline-block;
    
}

.menu ul li a{
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
    transition: 0.3s ease-in;

}

.menu ul li a:hover{
    color: white;
    border: 1px solid #02aef1;
    background: #02aef1;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}
